* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #1E1E1E;
    color: #fff;
}

#root {
    display: flex;
    justify-content: center;
}

button {
    background: none;
}

.post {
    display: flex;
    border: 5px solid rgba(177, 104, 2, 0.896);
    margin: 5px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}